:root {
  --text-color: #20462f;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #03421c;
  margin: 0%;
}

.container {
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgb(136, 136, 136);
  padding: 10px;
  z-index: 2;
}
.nav-1 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.nav img {
  width: 150px;
  height: 50px;
  margin-left: 10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #295c3e;
  position: relative;
}
 a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #06aa2f;
  transition: 0.2s ease;
}
a:hover::after {
  width: 100%;
}
.section-1 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-2 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.section-1_2 {
  margin-top: 50px;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  background-color: rgb(248, 242, 242);
  gap: 10px;
  margin-top: 30px;
  width: 60%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgb(124, 124, 124);
}
.search-bar p {
  margin-left: 10px;
}
.inp-box {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  padding: 5px;
  background: transparent;
  font-style: oblique;
  color: #161616;
}
.btn-1 {
  padding: 5px;
  border-radius: 40px;
  width: 100px;
  height: 40px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgb(60, 218, 12);
  border: 2px solid rgb(22, 204, 22);
  font-weight: 600;
}
.advest-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advest {
  width: 65%;
  height: 370px;
  display: flex;
  border-radius: 10px;
  margin: 30px;
  align-items: center;
  background-color: #07fd44;
}
.advest img {
  margin: 20px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
}
.adv-image {
  position: relative;
}

.adv-image p {
  background-color: #07fd44;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  width: fit-content;
  padding: 3px;
  position: absolute;
  left: 40px;
  bottom: 50px;
}
.adv-des {
  border-left: 1px solid var(--text-color);
  padding: 5px;
  text-align: center;
  font-size: 20px;
  -webkit-text-fill-color: var(--text-color);
  width: 400px;
  height: 300px;
}
.adv-des p {
  margin-left: 10px;
  font-size: 20px;
}
.btn-2 {
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  -webkit-text-fill-color: white;
  border: none;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;

}

/* explore-section */

.explore-section {
  margin: 50px;
  padding: 5px;
  position: relative;
}
.exp-title {
}
.exp-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-basis: 1;
  flex-shrink: 2;
  position: relative;
}
.exp-image img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.exp-image-1 {
  position: relative;
}
.exp-image-1 h3 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font: 2em;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.exp-2 {
  margin: 50px;
}
.exp-2_image {
  display: flex;
}
.exp-2_card {
  width: 25vw;
  margin: 20px;
}
.exp-2_image img {
  width: 250px;
  height: 200px;
  border-radius: 5px;
}
.exp-2_card h3,
p {
  margin-top: 10px;
}

/* inspiration-section */
.inspiration {
  
  background-color: rgb(235, 232, 232);
}
.ins-card{
    margin: 50px;
    height: 320px;
}
.ins-images {
  display: flex;
  margin-top: 10px;
}
.ins-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ins-image img {
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}
.things{
  margin: 50px;
}
.things-card{
  display: flex;
  margin: 0px;
  justify-content: space-around;
  align-items: center;
}
.things_image{
  width: 250px;
  margin: 10px;
  position: relative;
  top: 10px;
  justify-content: center;
  align-items: center;
}
.things_image img{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  
}
#like{
  position: absolute;
  right: 10px;
  background-color: lightgray;
  width: 20px;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  color: red;

}
.recommended{
  margin: 50px;
}
.recommended-card{
  display: flex;
  gap: 10px;
}
.recommended-image{
  margin-top: 20px;
  position: relative;
}
.recommended-image img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.recommended-image p{
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
  box-shadow: 5px 5px 10px lightgray;
 
}

/* iconic place -section */


.iconic-place{
  margin: 50px;
}
.iconic-card{
  display: flex;
  gap: 20px;
}
.iconic-image{
    position: relative;
}
.iconic-image img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
}
.iconic-image p{
  display: inline;
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1.3rem;

 
}
.sponsored-section{
  background-color: rgb(233, 227, 227);
}
.sponsored-card{
  display: flex;
  margin: 50px;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.sponsored-image{
  margin: 10px;
}
.sponsored-image img{
  width: 400px;
  height: 400px;
}
.sponsored-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.sponsored-content img{
  width: 20px;
  height: 20px;
 display: inline;
}
.sponsored-content h3{
  font-size: 1.3rem;
  font-weight: 900;
  font-style: oblique;
  text-align: center;
}
.sponsored-content  p{
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.btn-3{
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: #03421c;
  color: white;
  border-radius: 20px;
 border: none;
 font-weight: 700;
}



/* footer-section */

  .footer {
      background-color: #f8f8f8;
      padding: 40px 60px;
      color: #2b2b2b;
    }

    .footer-links {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }

    .footer-links h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .footer-links ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-links ul li {
      margin: 6px 0;
    }

    .footer-links ul li a {
      text-decoration: none;
      color: #2b2b2b;
    }

    .footer-links ul li a:hover {
      text-decoration: underline;
    }

    .footer-dropdowns {
      display: flex;
      gap: 10px;
      margin: 20px 0;
      flex-wrap: wrap;
    }

    .footer-dropdowns select {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      background-color: white;
    }

    .social-icons {
      margin: 10px 0;
    }

    .social-icons a {
      margin-right: 15px;
      font-size: 20px;
      color: #006341;
      text-decoration: none;
    }

    .social-icons a:hover {
      color: #2b2b2b;
    }

    .footer-bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-top: 1px solid #ccc;
      padding-top: 15px;
    }

    .footer-bottom p {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .footer-bottom ul {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-bottom ul li a {
      font-size: 14px;
      text-decoration: none;
      color: #006341;
    }

    .footer-bottom ul li a:hover {
      text-decoration: underline;
    }



    /* media-querie */


    @media screen and (max-width: 768px) {
      .nav-1,
      .nav-2 {
        flex-direction: row;
        justify-content: center;
        font:2rem;
        gap: 10px;
        margin-left: 10px;
      }

      .advest {
        flex-direction: column;
        width: 90%;
        height: fit-content;
      }

      .adv-des {
        border-left: none;
        border-top: 1px solid var(--text-color);
        width: 80%;
        height: fit-content;
        margin-top: 20px;
      }

      .exp-image {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
       .exp-2_card{
        width: 80%;
        margin: 10px;

       }
      .exp-2_image {
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow:  1;
        align-items: center;
        
      }
      .ins-card {
        height: fit-content;
      }

      .ins-images {
        flex-direction: column;
        align-items: center;
      }

      .things-card,
      .recommended-card,
      .iconic-card,
      .sponsored-card {
        flex-direction: column;
        align-items: center;
      }
      
    }

    @media screen and (max-width: 1200px) {
     
      .exp-2_card {
        width: 40%;
        margin: 10px;
      } 
      .advest {
        height: fit-content;
        flex-direction: column;
        font-size: 1rem;

        
      }
      .adv-image p {
        left: 30px;
        bottom: 40px;

      }.adv-des {
        border-left: none;
        border-top: 1px solid var(--text-color);
        width: 80%;
        height: fit-content;
        margin-top: 20px;
      }
      .exp-image {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 10px;
        justify-content:flex-start; 
  
      }
      .exp-image img {
        width: 200px;
        height: 200px;
      }
     
      .exp-2_card ,.ins-image, .things_image, .recommended-image, .iconic-image {
        width: 100%;
        margin: 10px;
        max-width: 300px;
        box-sizing: border-box;
        
       
      }
      .exp-2_card,.ins-image, .things_image, .recommended-image, .iconic-image {
        margin: 10px;
       img{
        width: 100%;
        height:250px;
        border-radius: 8px;
        display: block;

      }
    }
  }
    @media  screen and (max-width: 480px) {
      .search-bar {
        width: 90%;
      }

      .advest img {
        width: 100%;
        height: auto;
      }

      .adv-des {
        width: 100%;
      }

      .exp-image img,
      .exp-2_image img,
      .ins-image img,
      .things_image img,
      .recommended-image img,
      .iconic-image img,
      .sponsored-image img {
        width: 100%;
        height: auto;
      }
      
    }
   